.notes_list_content {
  flex-grow: 3;
}


.notes_list_content h2 {
  margin-left: 12px;
  margin-top: 0;
  padding-left: 24px;
}

.notes_list {
  display: grid;
  background-color: #fff;
  grid-template-columns: auto auto auto auto;
  list-style-type: none;
  margin-top: -10px;
  padding-left: 15px;
}

.notes_list_item {
  margin: 12px;
  max-width: 240px;
  max-height: 4000px;
  display: inline;
}
