.categories_content  {
  justify-content: space-between;
  padding: 28px 20px 0;
}

.category_list {
  justify-content: space-around;
  flex-grow: 4;
  margin: 16px 0 10px;
}
.categories_content, 
.categories_content .category_list {
  display: flex;
  align-items: center;
}
.categories_content .category_list .category_item {
  list-style-type: none;
  padding: 5px 20px;
  background-color: #3d0c4f;
  border-radius: 20px;
  font-size: 14px;
  color: white;
}
.categories_content .category_create {
  background-color: #faf9f5;
  font-weight: 100;
  padding: 8px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #f2f1ed;
  border-radius: 2px;
  height: 11px;
  max-width: 150px;
}
