.content {
  display: flex;
}
.header_content {
  display: flex;
  align-items: center;
  background-color: #fcba03;
  height: 40px;
  padding: 12px 40px;
}
.header_content h1 {
  margin: 0 0 0 10px;
}
