.note_card_section  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #ececec;
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 16px;
  margin: 0 10px;
}

.note_card_section .note_card_header .note_card_title {
  margin: 0;
  font-size: 1.2em;
}

.note_card_section .note_card_text {
  margin: 8px 0 0 0;
  font-size: 16px;
}
